
@model Saned.ArousQatar.Data.Core.Dtos.AdvertisementDto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="col-xs-12 col-md-3">

        <img src="@(ViewBag.ApiUrl+ "" + Model.ImageUrl)" class="img-responsive img-rounded" onerror="this.onerror = null; this.src = '/img/logo.png'" />

    </div>
    <div class="col-xs-12 col-md-9">
        <h2>@Model.Name</h2>
        <h4>السعر : @Model.Cost ريال</h4>
        <h4>المواصفات</h4>
        <p>
            @Model.Description
        </p>
    </div>
</div>
<div class="download">
    <a href="@ViewBag.PlayStoreUrl">
         <img src="~/img/google.png"/>
    </a>
    <a href="@ViewBag.ApplePlayStore">
        <img src="~/img/apple.png"/>
    </a>
</div>

